[run]
branch = True
source = src
omit =
    tests/*
    */__init__.py
    */alembic/*
    */migrations/*
    src/application/interface/*
    src/application/interface/**/*
    src/presentation/**/*
    src/infrastructure/**/*
    src/app.py
    src/config.py

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError